<article class="cart-item">
    <div class="cart-item-info">
        <h2><%= item.product.title %></h2>
        <img src="<%= item.product.imageUrl %>" alt="<%= item.product.title %>">
        <p>$<span class="cart-item-price"><%= item.totalPrice.toFixed(2) %></span> <span class="cart-product-price">($<%= item.product.price.toFixed(2) %>)</span></p>
    </div>
    <form class="cart-item-management" data-productid="<%= item.product.id %>" >
        <input type="number" value="<%= item.quantity %>"  required>
        <button class="btn btn-alt" id="update" >Update</button>
    </form>
</article>